<div class="bundle-flavor--selector-wrapper">
  <div class="bundle-flavor--selector {{ bundle_group }}">
    <div class="bundle-flavor--selector-left">
      <div class="bundle-type-icon">
        {% if bundle_group == 'brain' %}
          {% include 'brain-fuel-icon' %}
        {% elsif bundle_group == 'body' %}
          {% include 'body-fuel-icon' %}
        {% endif %}
      </div>
      <div class="bundle-type-meta">
        <div class="bundle-type">{{ bundle_type }}</div>
        <div class="flavor-name"></div>
      </div>
    </div>
    <div class="bundle-flavor--selector-right">
      <div class="choose-label">Choose 1<i class="fas fa-chevron-up" aria-hidden="true"></i></div>
    </div>
  </div>

  {% assign flavor_option_name = 'option1' %}

  <ul id="{{ bundle_type | downcase | handleize }}--items" class="flavor-items"> 
    {% for singular_product in selected_product %}
      {% for variant in all_products[singular_product].variants %}          
        {% if flavor_option_name and selected_product.metafields.flavors.hide contains variant[flavor_option_name] %}
          {% continue %}
        {% endif %}

        {% if variant.metafields.variant.hide %}
          {% continue %}
        {% endif %}
        
        {%- if variant.title contains '12 Pack / 16oz'  -%}
          {%- if variant.inventory_policy != deny and variant.available -%}
            {% assign variant_class = '' %}
          {%- else -%}
            {% assign variant_class = 'sold-out' -%}
          {% endif %}

          {%- assign item_id = 'item-' | append: variant.id -%}

          <li id="{{ item_id }}" data-original-variantid="{{ variant.id }}" data-id="{{selected_product.metafields.subscriptions.subscription_id}}" data-variant="{{variant.metafields.subscriptions.discount_variant_id}}" data-bundle-group="{{ bundle_group }}" class="{{ variant_class }}"><span>{% if variant.metafields.c4energy.overwrite_title %}{{variant.metafields.c4energy.overwrite_title}}{% else %}{{variant.title | split: "/" | last }}{%endif%}</span><img src="{{ 'can-icon.svg' | asset_url }}" class="can-icon"></li>

          {% assign gradient_first_color = variant.metafields.c4energy.gradient_first_color %}
          {% assign gradient_second_color = variant.metafields.c4energy.gradient_second_color %}

          {% if gradient_first_color == blank %}
            {% assign gradient_first_color = '#000000' %}
          {% endif %}

          {% if gradient_second_color == blank %}
            {% assign gradient_second_color = '#000000' %}
          {% endif %}

          <style type="text/css">
            .bundle-flavor--selection-section .flavor-items li#{{ item_id }}:before {
              background-image: linear-gradient(to bottom, {{ gradient_first_color }}, {{ gradient_second_color }});
            }
          </style>

          {% if bundle_group == 'brain' %}
            <style type="text/css">
              #bundle-flavor-selection[data-brain-variant="{{ variant.id }}"]:before {
                background-image: linear-gradient(to bottom, {{ gradient_first_color }}, {{ gradient_second_color }});
              }
            </style>
          {% endif %}

          {% if bundle_group == 'body' %}
            <style type="text/css">
              #bundle-flavor-selection[data-body-variant="{{ variant.id }}"]:after {
                background-image: linear-gradient(to bottom, {{ gradient_first_color }}, {{ gradient_second_color }});
              }
            </style>
          {% endif %}

        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div> 