{%- assign preview_image = product.featured_media.preview_image -%}
{%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div class="item-product">
	<a href="{{ product.url }}" class="item-product--link"></a>
	<div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
	    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
	      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
	        <img id="{{ img_id }}"
	              class="grid-view-item__image lazyload"
	              alt="{{ preview_image.alt }}"
	              data-src="{{ img_url }}"
	              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
	              data-aspectratio="{{ preview_image.aspect_ratio }}"
	              data-sizes="auto"
	              data-image>
	      </div>
	    </div>
    	<div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  	</div>
	<div class="item-product--meta">
		<p class="item-product--type text-upper">{{ product.type }}</p>
		<p class="item-product--title">{{ product.title }}</p>

		<span class=" stamped-product-reviews-badge" data-product-sku="{{product.selected_or_first_available_variant.sku}}" data-id="{{ product.id }}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display:block;"></span>

		{% if product.available %}
			<p class="item-product--price{% if product.compare_at_price > product.price %} on-sale{% endif %}">
				{% if product.price_varies %}
					{{ product.price_min | money }} - {{ product.price_max | money }}
				{% else %}
					{% if product.compare_at_price > product.price %}
						<small>{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}% off</small>
					{% endif %}
					{{ product.price | money }}
				{% endif %}
			</p>

			{% if product.compare_at_price > product.price %}
				<p class="item-product--compare-price">{{ product.compare_at_price | money }}</p>
			{% endif %}
		{% else %}
			<span class="soldout-note">Sold Out</span>
		{% endif %}
	</div>
</div>